{include file="public/header" /}
{js href="__JS__/leftmenu.js,__JS__/picplay.js" /}
{css  href="__CSS__/leftmenu.css"  /}
<div class="n_wz">
    <div class="n_wz_tit">
          <span class="font5">罗蔓服务</span><span class="font6">LUOMAN'S SERVICE</span>
    </div>
    <div class="n_wz_n1">您现在所在位置：<a href="/" class="black12">首页</a> &gt; 罗蔓服务</div>
</div>
   
    <div class="n_ct">
       {include file="public/left" /}
      <div class="n_ct_right">
        <div class="n_ct_right_tit"><span class="font14">罗蔓服务</span> <span class="font7">/</span> <span class="font6">LUOMAN'S SERVICE</span></div>
        <div class="n_ct_right_n">        
          <img  width=600 height=832  src="__IMAGES__/servic.jpg" />
        </div>
      </div>
    </div>

{include file="public/footer" /} 
