{include file="public/header" /}
<js href="__JS__/leftmenu.js,__JS__/picplay.js" />
<css  href="__CSS__/leftmenu.css,__CSS__/showpic.css"  />
<div class="n_wz">
    <div class="n_wz_tit">
          <span class="font5">套系报价</span><span class="font6"> PRICE</span>
    </div>
    <div class="n_wz_n1">您现在所在位置：<a href="/" class="black12">首页</a> &gt; {$location_tit}</div>
</div>
   
    <div class="n_ct">
       {include file="public/left" /}
      <div class="n_ct_right">
        <div class="n_ct_right_tit"><span class="font14">{$location_tit}</span> <span class="font7">/</span> <span class="font6">{$location_en}</span></div>
       
         <div class="n_ct_right_n">
          
                      <div class=n_ct_right_k3>  <div class=n_ct_right_k3_n1><img src='__UPLOAD__/{$price.price_view}' width=220 height=193 border=0 /></div><div class=n_ct_right_k3_n2>    <div class=n_ct_right_k3_n3>      <div class=n_ct_right_k3_n3_bt>{$price.price_name}</div>   </div>    <div class=n_ct_right_k3_n3><span class=font2>服务报价</span><br />         <div class="n_ct_right_k3_n3_pr"> <span class=font9>现价：</span><span class=font10>{$price.price_p}</span></div></div>    <div class=n_ct_right_k3_n5>{$price.price_des}</div>  </div></div>
                  
                                    
                    </div>                          
            <div class="n_ct_right_k3_n7"><h>详细介绍：</h><l></l></div>
          <div class="n_ct_right_new">
            <div class="n_ct_right_price_s">
                 {volist name="c_list" id="vo" empty="暂时没有数据"}
                        {$vo.content}
                     {/volist}
            </div>
           </div>
         
      </div>
    </div>

{include file="public/footer" /}
