{include file="public/header" /}
{js href="__JS__/i_case.js,__JS__/i_viedo.js" /}
{css  href="__CSS__/index/i_case.css,__CSS__/index/i_viedo.css,__CSS__/index/i_about.css,__CSS__/index/i_links.css"  /}
       <!--案列展示-->
           
            <div id="case">
                    <div class="cl1"></div>
                    <div class="cl2"></div>
                    <div class="cl3"></div>
                    <div class="cl4"></div>
                    <!--<div  class="cbanner">
                     <img border=0 alt="" src="__IMAGES__/anli.gif" width=172 height=36 />
                      <a class="more" href="#" target=_blank><img border=0 alt="" src="__IMAGES__/more.gif" /></a>
                   </div>-->
                    <div id="i_case">
                           <div class=slide> 
                          <a href="/index.php/Case-index-menuid-0-pic_series-23/" target="_self">
                             <img class=diapo border=0 src="__IMAGES__/01.jpg">
                          </a> 
	                      <div class=text>lisa and andrew</div>
                        </div>
                          
	                    <div class=slide>
                            <a href="/index.php/Case-index-menuid-0-pic_series-22/" target="_self">
                               <img class=diapo	border=0 src="__IMAGES__/02.jpg">
                            </a> 
	                        <div class=text>康定仪生</div>
                        </div>
	                  <div class=slide>
                           <a href="/index.php/Case-index-menuid-0-pic_series-8/" target=_blank>
                             <img class=diapo border=0 src="__IMAGES__/03.jpg">
                           </a> 
	                       <div class=text>聆听</div>
                        </div>
	                    <div class=slide>
                          <a href="/index.php/Case-index-menuid-0-pic_series-11/" target="_self">
                             <img class=diapo border=0 src="__IMAGES__/04.jpg">
                          </a> 
	                      <div class=text>It's Love</div>
                        </div>
	                    <div class=slide>
                           <a href="/index.php/Case-index-menuid-0-pic_series-24/" target="_self">
                             <img class=diapo border=0 src="__IMAGES__/05.jpg">
                           </a> 
	                       <div class=text>天鹅湖之恋</div>
                         </div>
	                     <div class=slide>
                            <a href="/index.php/Case-index-menuid-0-pic_series-13/" target="_self">
                               <img class=diapo border=0 src="__IMAGES__/06.jpg">
                            </a> 
	                        <div class=text>让爱菲翔</div>
                         </div> 
                          <div class=slide>
                            <a href="/index.php/Case-index-menuid-0-pic_series-12/" target="_self">
                               <img class=diapo border=0 src="__IMAGES__/07.jpg">
                            </a> 
	                        <div class=text>Sweet Home</div>
                         </div>                                
                     </div>
                    <script type=text/javascript>
                       /* ==== start script ==== */
                       i_case.init();
                    </script>
                    <div class="i-link">
                
               <h2><img src="__IMAGES__/flower1-02.png" />联系我们<span>Contact Us</span></h2>
                    <table>
                     <tr>
                    <td  width="35%" align="right" valign="top"><p>联系电话：</p></td>
                    <td  width="65%" align="left" valign="top"><p>13874998763 侃侃 13278859855 魏巍</p></td>
                    </tr>
                    <tr>
                    <td  align="right" valign="top"><p>策划微信：</p></td>
                    <td align="left" valign="top"><p>cslmkk</p></td>
                    </tr>
                    <tr>
                    <td  width="30%" align="right" valign="top"><p>公司QQ：</p></td>
                    <td  width="70%" align="left" valign="top"><p>447077187,104242157</p></td>
                    </tr>
                    <tr>
                    <td  align="right" valign="top"><p>公司官网：</p></td>
                    <td align="left" valign="top"><p>www.luomanwed.com</p></td>
                    </tr>
                    <tr>
                    <td  align="right" valign="top"><p>新浪微博：</p></td>
                    <td align="left" valign="top"><p>@长沙罗蔓婚庆礼仪策划</p></td>
                    </tr>
                    <tr>
                    <td  align="right" valign="top"><p>公司地址：</p></td>
                    <td  align="left"  valign="top"><p>长沙枫林一路43号枫林宾馆大堂里（2号地铁线溁湾镇站1号出口-进宾馆大门右拐）</p></td>
                    </tr>
                   
          
   </table>
                </div>
               </div>
               
               
           <!--WHY CHOOSE US-->
            <div class="about">
                
               <div class="leftabout">
                   <h2>为什么选择我们？<span>Why choose us?</span></h2>
                    <table>
                    <tr>
                    <td  width="5%" valign="top"><div class="ico"></div></td>
                    <td  width="20%" align="right" valign="top"><p>经验丰富：</p></td>
                    <td  width="75%" align="left" valign="top"><p>长达6年的从业经验，上千场婚礼与活动的执行经验,是长沙婚庆品牌代表。</p></td>
                    </tr>
                    <tr>
                    <td  valign="top"><div class="ico"></div></td>
                    <td align="right" valign="top"><p>专业团队：</p></td>
                    <td align="left" valign="top"><p>我们拥有长沙婚庆最专业和敬业的婚礼团队。他们包括：婚礼顾问，策划小组，宴会设计，花艺部，执行部，影视后期。</p></td>
                    </tr>
                    <tr>
                    <td  valign="top"><div class="ico"></div></td>
                    <td align="right" valign="top"><p>团队荣誉：</p></td>
                    <td align="left" valign="top"><p>我们是湖南唯一走上央视星光大道的长沙婚庆策划团队。</p></td>
                    </tr>
                    <tr>
                    <td  valign="top"><div class="ico"></div></td>
                    <td align="right" valign="top"><p>服务宗旨：</p></td>
                    <td align="left" valign="top"><p>凭借我们的专业，用自己的爱心，责任心，真诚心为新人与客户提供放心，贴心，细心的服务。</p></td>
                    </tr>
           <tr>
                     <td  valign="top"><div class="ico"></div></td>
                     <td align="right" valign="top"><p>服务理念：</p></td>
                     <td align="left" valign="top"><p>以客户为中心，关注客户需求和体验，为客户量身定制，打造完美婚礼，创建美誉的国内婚庆服务品牌。</p></td>
                    </tr>
   </table>
   
               </div>
               <div id="i-new" class="panel">
               <div class="hx"></div>
                <div class="caption"><div class="title-img"></div><h3>公司<span>动态</span></h3><p><a href="/index.php/New-showcaptions-type-1-menuid-7/">更多 >></a></p></div>
                 <dd>
                   {volist name="newlist" id="vo" empty="ERROR_NODATA"}
                   <dl><dt><a href="/index.php/New-showcontent-type-{$vo.c_type}-menuid-7-c_id-{$vo.c_id}/" title="{$vo.c_name}">{$vo.c_name}</a></dt></dl>
                   {/volist}  
                 </dd>
                   <div class="bl-img"></div>
               <div class="br-img"></div>
               </div>
             
               <div id="i-sale" class="panel">
                 <div class="hx"></div>
                 <div class="caption"><div class="title-img"></div><h3>婚礼<span>文化</span></h3><p><a href="/index.php/New-showcaptions-type-2-menuid-7/">更多 >></a></p></div>
                 <dd>
                   {volist name="whlist" id="vo" empty="ERROR_NODATA"}
                   <dl><dt><a href="/index.php/New-showcontent-type-{$vo.c_type}-menuid-7-c_id-{$vo.c_id}/" title="{$vo.c_name}">{$vo.c_name}</a></dt></dl>
                   {/volist}  
                 </dd>
                  <div class="bl-img"></div>
               <div class="br-img"></div>
               </div>
               
            </div>
        
      
            <!-- 视频展示-->
        <!--
                <div id="zSlider">
                      <div class="cbanner">
                     <img border=0 alt="" src="__IMAGES__/shipin.gif" width=172 height=36 />
                      <a class="more" href="#" target=_blank><img border=0 alt="" src="__IMAGES__/more.gif" /></a>
                   </div>
	                  <div id="picshow">
		                <div id="picshow_img">
			            <ul >
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z1.jpg"></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z2.jpg"></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z3.jpg"></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z4.jpg"></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z5.jpg"></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z6.jpg"></a></li>
			           </ul>
		             </div>
		                <div id="picshow_tx">
			           <ul>
			             <li>
				            <h3><a href="#" target="_blank">中国死飞店铺推介：上海死飞店FACTORY FIVE</a></h3>
				             <p>上海第一家死飞精品店，由三个外国人与一中国人联合创办，主要经营客订个性单速车，帮助他们得到自己梦想中的车架。</p>
			             </li>
			            <li>
				           <h3><a href="#" target="_blank">骑看世界：纯美的世界恬静的心冰岛骑游之旅</a></h3>
				           <p>冰岛有“火山岛”、“雾岛”、“冰封的土地”、“冰与火之岛”之称。有想过在这里骑游吗？下面看看Ovegur的冰岛骑游之旅吧。</p>
			           </li>
			           <li>
				          <h3><a href="#" target="_blank">空气糟糕透了！推荐几款实用的骑行防毒口罩</a></h3>
				          <p>这几天，全国各地的空气糟糕透顶！北京空气污染指数又爆表了！！！经过资深车友的推荐及亲身体验，整理出几款超强防毒的骑行口罩。</p>
			           </li>
			           <li>
				          <h3><a href="#" target="_blank">[组图]1200万像素带Wi-Fi 骑行记录仪Gopro Hero3评测</a></h3>
				          <p>近年来户外骑行等运动录像盛行，Gopro这品牌可说功不可没，新版的Gopro Hero3具有1200万像素带Wi-Fi功能……</p>
			           </li>
			           <li>
				           <h3><a href="#" target="_blank">张向东：南非无危险的骑行与有纠结的ubuntu(组图)</a></h3>
				           <p>“我要从南骑到北，我还要从白骑到黑。我要人们都看到我，却不知道我是谁。爱上我你就不要后悔，总有一天我要远走高飞。”</p>
			           </li>
			           <li>
				           <h3><a href="#" target="_blank">单车文化课堂⑥：学会撬胎补胎爆胎不再烦</a></h3>
				           <p>外出骑行，不会总有一个修车老大爷在你扎胎后的不远处等着你，本期课堂教会你如何撬胎补胎，再碰上爆胎，你就可以淡定了。</p>
			           </li>
			        </ul>
		          </div>
	                  </div>
	                  <div id="select_btn">
                        <ul>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z01.jpg"><span class="select_text">上海死飞店FACTORY FIVE</span><span class="select_date">2013/01/16</span></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z02.jpg"><span class="select_text">骑看世界：北欧冰岛骑游之旅</span><span class="select_date">2013/01/15</span></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z03.jpg"><span class="select_text">推荐几款实用的骑行防毒口罩</span><span class="select_date">2013/01/13</span></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z04.jpg"><span class="select_text">骑行记录仪Gopro Hero3评测</span><span class="select_date">2013/01/08</span></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z05.jpg"><span class="select_text">3G门户总裁张向东南非骑行日记</span><span class="select_date">2012/12/28</span></a></li>
                          <li><a href="#" target="_blank"><img src="__IMAGES__/z06.jpg"><span class="select_text">教学：学会撬胎补胎 爆胎不再烦</span><span class="select_date">2012/12/26</span></a></li>
                        </ul>
	                  </div>	
                   </div>
                   -->
    
              
                
               
    
               
                    
{include file="public/footer" /}