{include file="public/header" /}
{js href="__JS__/leftmenu.js,__JS__/picplay.js" /}
{css  href="__CSS__/leftmenu.css"  /}
    <div class="n_wz">
        <div class="n_wz_tit">
              <span class="font5">关于我们 </span><span class="font6">ABOUT US </span>
        </div>
        <div class="n_wz_n1">您现在所在位置：<a href="/" class="black12">首页</a> &gt; 罗蔓成长</div>
    </div>
   
    <div class="n_ct">
      
      {include file="public/left" /}
      
      <div class="n_ct_right">
        <div class="n_ct_right_tit"><span class="font14">我们的成长</span><span class="font6">OUR GROUP</span></div>
        <div class="n_ct_right_n">
         
          <div class=n_ct_right_n8>
               <ul>
     <li>2007年：我们提出概念式婚礼，率先为新人打造出“童话圣典”、“海洋婚礼”等主题婚礼；</li>
<li>2008年：我们勇于创新，独家承办大型集体婚礼，与长城信息公司携手，提出企业持续性集体婚礼概念；至今为止，已连续举行了四届  </li>
<li>2009年：我们以爱情圣地为创意点打造出“雅典祝福”、“希腊礼赞”等风格式婚礼；</li>
<li>2010年：我们走访上海、深圳、北京等地总结出以新人相识、相爱为创意源点的个性婚礼；</li>
<li>2011年：我们精益求精，推出标新立异的主题婚礼秀赢得了业内业外一致好评；</li>
<li>2012年：我们不断努力进取，远赴北京进行宴会设计学习，更好更优质的服务于所有准新人们；</li>
    <li>曾为近千对新人提供专业个性的婚礼服务，帮助每一对重视自己婚礼的新人实现他们的梦想！
</li>
<li>曾为随意居集团、中联重科、克莱蒂珠宝、老凤祥珠宝、中国人寿保险、平安保险、随意居装饰、点石家装、辣妹子食品销售公司、中南大学等企事业策划大型活动。
</li>
<li>曾多次参与婚博会，举办新人大讲堂，更好更优质的提供新婚咨询。
</li>
<li>曾代表中南地区参加央视“星光大道”全国婚礼创意大赛，成为长沙时尚白领、对婚礼有个性化要求的适婚青年最受欢迎的婚庆品牌之一。
</li>
<li>曾成功承办长城信息集团公司集体婚礼，二十三冶集团公司集体婚礼，广汽菲亚特集体婚礼。
</li>       
          </ul></div>
      

       
         
        </div>
        
        
      </div>
    </div>
{include file="public/footer" /}