{include file="public/header" /}
{js href="__JS__/leftmenu.js,__JS__/picplay.js" /}
{css  href="__CSS__/leftmenu.css"  /}
    <div class="n_wz">
        <div class="n_wz_tit">
              <span class="font5">关于我们 </span><span class="font6">ABOUT US </span>
        </div>
        <div class="n_wz_n1">您现在所在位置：<a href="/" class="black12">首页</a> &gt; 罗蔓荣誉</div>
    </div>
   
    <div class="n_ct">
      
      {include file="public/left" /}
      
      <div class="n_ct_right">
        <div class="n_ct_right_tit">
        
        <span class="font14">罗蔓荣誉</span>  <span class="font6">PLANNING TEAM</span></div>
        <div class="n_ct_right_n">
          
          <div class=n_ct_right_n8>
               <ul>
               <img  width=500 height=260  src="__UPLOAD__/honor.jpg" />
          <li>2007年首席主持人和策划师代表中南地区参加央视“星光大道”全国婚礼创意大赛</li>
          <li>2008年度中南地区最受新人喜爱的婚庆服务品牌；同年加入婚协团体会员</li>
          <li>2009年度评选为湖南婚庆行业协会十大风云企业；</li>
          <li>2010年度纳为湖南婚庆行业协会理事单位；</li>
<li>2011年度评为中南地区十大婚庆服务品牌；</li>
<li>2012年接受品周报、今日女报、湖南都市频道等媒体采访。同年成功举办随意居15周年庆典，并获得随意居的精诚合作奖</li>
            
             </ul></div>
      

        
         
        </div>
      </div>
    </div>
{include file="public/footer" /}  