{include file="public/header" /}
{js href="__JS__/leftmenu.js,__JS__/picplay.js" /}
{css  href="__CSS__/leftmenu.css"  /}
<div class="n_wz">
    <div class="n_wz_tit">
          <span class="font5">关于我们 </span><span class="font6">ABOUT US </span>
    </div>
    <div class="n_wz_n1">您现在所在位置：<a href="/" class="black12">首页</a> &gt; 关于我们</div>
</div>
   
    <div class="n_ct">
       {include file="public/left" /}
      <div class="n_ct_right">
        <div class="n_ct_right_tit"><span class="font14">关于我们</span> <span class="font7">/</span> <span class="font6">ABOUT US</span></div>
         <div class="n_ct_right_new">
         <div class="n_ct_right_new_s">
        <p>
         <p> <img  width=600 src="__UPLOAD__/about-01.jpg" /></p>
         <p>罗蔓礼仪策划有限公司是一家具有时尚色彩的专业婚礼统筹机构。拥有雄厚的婚礼策划能力、优良的服务体系、资深的策划专业人士和独特创新的婚礼创意制作。形成了自己独特的策划风格，具有承办各类中、西式和个性化的流行时尚婚礼的丰富经验，可以向新人提供全方位、个性化的专业服务。及先进的管理模式使我们在同行业的竞争中脱颖而出,独树一帜。</p>
<p>&nbsp;</p>
<p>多年专业路程,朔造了数位资深的婚礼顾问和现场婚礼督导;我们秉承婚礼管家制,着眼于策划,设计与现场执行并重;一直以来,&ldquo;罗蔓人&rdquo;在乎沟通与品质;在这里,您总能找到与您品位契合的婚礼策划人,以及每个项目的职业婚礼服务人员;我们为新人组合属于自己的婚礼服务团队,每个细节都由专业人士与您细细沟通。</p>
<p>&nbsp;</p>
<p>当你们携手来到罗蔓婚庆公司, 我们将从专业的角度出发，以&ldquo;爱情、亲情、友情&rdquo;为主线，用全方位、高水准的婚庆服务，为您减轻筹办婚礼的负担，优化筹办婚礼的方案，使您婚礼的每一个细节都更加完美，让您轻松享受人生的甜蜜时刻。帮您办一个自己满意、父母满意、亲友羡慕的婚礼，就是罗蔓婚庆最大的愿望。</p>
<p>&nbsp;</p>
<p>&ldquo;执子之手，与子偕老&ldquo;这是每对新人的梦想，在您准备执子之手，共浴爱河，筹备结婚庆典时会有许多繁杂的事项，罗蔓婚庆公司将从专业的角度出发帮您解决后顾之忧，带给您从容、自信的一天，使您在婚礼当天尽情的享受温馨与浪漫。</span></span></p>
<p>&nbsp;</p>
<p>结婚是人一生中最重要的盛典，婚礼是人生中一神圣的仪式。愿您美满的婚姻从圆满的婚礼开始，幸福的生活从罗蔓婚庆开始</p>


</p>
       
         
        </div>
         
         </div>
        
      </div>
    </div>


{include file="public/footer" /}
