{include file="public/header" /}
{js href="__JS__/leftmenu.js,__JS__/picplay.js" /}
{css  href="__CSS__/leftmenu.css"  /}
    <div class="n_wz">
        <div class="n_wz_tit">
              <span class="font5">关于我们 </span><span class="font6">ABOUT US </span>
        </div>
        <div class="n_wz_n1">您现在所在位置：<a href="/" class="black12">首页</a> &gt; 联系我们</div>
    </div>
   
    <div class="n_ct">
      
      {include file="public/left" /}
      
      <div class="n_ct_right">
        <div class="n_ct_right_tit">
        
        <span class="font14">联系我们</span>  <span class="font6">CONTACT US</span></div>
        <div class="n_ct_right_n">
        
          <div class=n_ct_right_n8>
               <ul>
               <img  width=500 height=250  src="__UPLOAD__/map-01.jpg" />
         
                <li><p>地址：长沙枫林一路43号枫林宾馆大堂里（2号地铁线溁湾镇站1号出口-进宾馆大门右拐）</p>
                
                <p>电话：13874998763 侃侃 13278859855 魏巍</p>
                <p>策划微信：cslmkk</p>
                <p>官网：www.luomanwed.com</p>
             </li></ul></div>
      

         
        </div>
      </div>
{include file="public/footer" /} 