{include file="public/header" /}
{js href="__JS__/leftmenu.js,__JS__/picplay.js" /}
{css  href="__CSS__/leftmenu.css"  /}
    <div class="n_wz">
        <div class="n_wz_tit">
              <span class="font5">关于我们 </span><span class="font6">ABOUT US </span>
        </div>
        <div class="n_wz_n1">您现在所在位置：<a href="/" class="black12">首页</a> &gt; 策划团队</div>
    </div>
   
    <div class="n_ct">
      
       {include file="public/left" /}
      
      <div class="n_ct_right">
        <div class="n_ct_right_tit"><span class="font14">策划团队</span> <span class="font7">/</span> <span class="font6">PLANNING TEAM</span></div>
        <div class="n_ct_right_n">
         
          <div class=n_ct_right_n8>
               <ul>
          <li><a href="#"><img  width=114 height=179 src='__UPLOAD__/fsy-01.jpg' /></a><a href=article_3843ED1B.htm><h1>傅诗喻 高级策划创意总监</h1></a>    <p>她是新人的顾问，她是新人的朋友、知已。每场婚礼，她都认真倾听，积极协调，主动沟通，提前设计，给新人以各具特色的个性化的创意，并形成详细的实施预案。傅诗喻和她的团队，脚踏实地，体现亲和力、洞察力、创新力。各个环节的衔接和各项资源的调配，都行云流水一样贯穿到整个婚礼的策划、创意、主持和现场执行的各个环节。新人们都喜欢傅姐，他们跟傅姐通过婚庆成了朋友，成了一起行走的同路人。
新人们结识傅诗喻，今夜在你们的眼中是宁静的。新人们选择傅诗喻，今晨在你的心里是温软的。</p></li>
       <li><a href="#"><img  width=114 height=179 src='__UPLOAD__/zkk-01.jpg' /></a>    <a href=article_BF4A9DB1.htm><h1>周侃侃  高级策划总监</h1></a>    <p>对于新人而言，人生中最重要的三种情感，亲情，爱情，友情都会在这一天有最集中的体验，最集中的释放，最集中的展示。亲情的温馨感人，爱情的浪漫缠绵，友情的珍贵热烈都会萦绕在婚礼的殿堂中；我还要让所有的来宾随着婚礼的进行，被新人情感的激荡和起伏而感动。婚礼是每一对新人一生中最重要的时刻，我愿用自己的细心、真诚、专业和敬业，带给你一个甜蜜的婚礼，圆你一个浪漫的梦想。
</p>    </li>    <li><a href=article_41C552D2.htm><img  width=114 height=179 src='__UPLOAD__/ww-01.jpg' /></a>    <a href=article_41C552D2.htm><h1>魏巍   策划执行总监</h1></a>    <p>设计仪式流程与布置的设计，要新颖，要完美，要能紧紧围绕我们的婚礼主题思想，是很重要的。对于一个专业的婚礼策划师来说，这也是评价其好坏的标准。同时颜色的搭配，空间的合理构成又是对于宴会设计师来讲是一个不小的难度。杨珊时时刻刻都要求对自己的完美。以至于对新人婚礼的设计谨小慎微，孜孜不倦，精益求精,以求做到最完美。
</p>    </li>    <li><a href=article_C8CC2128.htm><img  width=114 height=179 src='__UPLOAD__/ws-01.jpg' /></a>    <a href=article_C8CC2128.htm><h1>王莎 高级策划总监</h1></a>    <p>策划风格浪漫、温馨、大气为主，轻松、幽默为辅。善于用真诚的语言和优美的嗓音渲染婚礼各个环节所需要呈现的不同意境，用灵活的头脑和快速的反映调节现场气氛以及应对各种突发事件。善于把握时代潮流，在婚礼中融入时尚元素。更愿与新人沟通、交流婚礼的风格和主题，为新人呈现一场他们心中的婚礼。
</p>    </li>    <li><a href=article_C61F59BA.htm><img  width=114 height=179 src='__UPLOAD__/la-01.jpg' /></a>    <a href=article_C61F59BA.htm><h1>李安  高级策划总监</h1></a>    <p>如同邻家哥哥一般，多年来以成就新人的快乐为最大的幸福，沟通时，我是新人婚礼过程的讲解老师；彩排时，我是新人的私人导演；仪式中，我要做到气氛效果的主导者；以后我希望成为你们的好朋友。可以把握新人的亮点,突出主题的叙述,用通俗易懂的方式让台下各行各业的来宾接受现代婚礼的仪式感觉。善于沟通时了解客户举办婚礼的特点及主题方向，针对性制造相对氛围，温馨与浪漫并举，做事认真行业皆知，并能将时尚元素融入婚礼之中，让人时有耳目一新之感。富有团队意识，有一定的感召力和凝聚力。舞台形象较好，嗓音清澈，极具亲和力。婚礼风格唯美浪漫。
</p>    </li></ul></div>
      

          
         
        </div>
      </div>
    </div>
{include file="public/footer" /}