{include file="public/header" /}
{js href="__JS__/leftmenu.js,__JS__/picplay.js" /}
{css  href="__CSS__/leftmenu.css"  /}
    <div class="n_wz">
        <div class="n_wz_tit">
              <span class="font5">关于我们 </span><span class="font6">ABOUT US </span>
        </div>
        <div class="n_wz_n1">您现在所在位置：<a href="/" class="black12">首页</a> &gt; 人才招聘</div>
    </div>
   
    <div class="n_ct">
      
       {include file="public/left" /}
      
      <div class="n_ct_right">
        <div class="n_ct_right_tit">
        
        <span class="font14">人才招聘</span>  <span class="font6">PLANNING TEAM</span></div>
        <div class="n_ct_right_n">
          <div class="n_ct_right_n1">
          <div class=n_ct_right_n8>
               <ul>
               <img  width=700 height=360  src="__UPLOAD__/zhaopin-01.jpg" />
         
            
             </ul></div>
      

          </div>
         
        </div>
      </div>
    </div>
{include file="public/footer" /}