<include file="Public:header" />
<js href="__JS__/leftmenu.js,__JS__/picplay.js" />
<css  href="__CSS__/leftmenu.css,__CSS__/showpic.css"  />
<div class="n_wz">
    <div class="n_wz_tit">
          <span class="font5">最新资讯</span><span class="font6"> NEW </span>
    </div>
    <div class="n_wz_n1">您现在所在位置：<a href="/" class="black12">首页</a> &gt; 最新资讯</div>
</div>
   
    <div class="n_ct">
      <include file="Public:left" />
      <div class="n_ct_right">
        <div class="n_ct_right_tit"><span class="font14"> 婚礼中应该注意的一些行为细节</span> <span class="font7">/</span> <span class="font6">NEW</span></div>
       
         <div class="n_ct_right_new">
            <div class="n_ct_right_price_s">
             <p>  凡尔赛简约套系 9800元（无任何隐形消费）</p> 
 
 
  <p>专业婚礼策划师提供婚礼当天策划书一份</p> 
 
<p>★专业婚礼策划篇</p> 
 
<p>提供婚礼当天仪式流程1份</p> 
<p>提供婚礼当天会场布置策划书1份</p> 
<p>提供婚礼Wedding牌一个</p> 
<p>提供婚礼台卡设计10张</p> 
<p>提供喜字一套</p> 
<p>提供婚礼当天车牌贴10套</p> 
 
<p>★专业婚礼团队篇</p> 
 
<p>婚礼当天首席司仪一名;婚礼主持服务，个性化仪式流程，及婚礼策划稿</p> 
<p>婚礼当天首席化妆师一名;全程化妆，赠送伴娘妆、母亲妆，含首饰、头饰</p> 
<p>婚礼当天首席数码摄像师一名;六小时摄像服务，超时费100元/每小时</p> 
<p>婚礼当天首席数码摄影师一名;六小时摄影服务，超时费100元/每小时</p> 
 
<p>★专业全套婚礼现场布置篇</p> 
 
<p>提供简约婚礼舞台主背景布置</p> 
<p>提供简约婚礼水晶大烛台1个（含点火棒，花瓣点缀)</p> 
<p>提供简约婚礼水晶小烛台*10个</p> 
<p>提供简约婚礼鲜花大拱门1座（单面造型，款式：五头或半满）</p> 
<p>提供简约婚礼路引×6 （单层鲜花）</p> 
<p>提供简约婚礼拍照背景一个（纱幔小背景 + 背景灯光）</p> 
<p>提供简约婚礼签到台纱幔布置（拉纱艺 + 撒鲜花花瓣）</p> 
<p>提供迎宾牌一个</p> 
<p>提供海报架1座</p> 
<p>提供精美签到本1本</p> 
<p>提供精美签到笔2支</p> 
<p>提供简约婚礼蛋糕刀鲜花装饰一把</p> 
<p>提供简约婚礼交杯酒鲜花装饰一杯</p> 
<p>提供简约婚礼话筒鲜花装饰一个</p> 
<p>提供简约婚礼蛋糕台帷幔布置</p> 
<p>提供简约婚礼香槟台拉纱布置</p> 
<p>提供简约婚礼戒枕×1</p> 
<p>提供简约婚礼主桌椅背拉纱装饰</p> 
<p>提供简约主桌鲜花布置×1 （单层造型）</p> 
<p>提供简约副桌鲜花布置×10（注：10桌以上每桌120元）</p> 
 
<p>★婚礼舞美灯光篇</p> 
 
提供简约红地毯10米 ( 超出部分按15元/平方计算）其他颜色地毯15元/平方
舞台简约1200W追光灯1台（含专业灯光师）
舞台简约双孔泡泡机1台（含专业人员）
 
★婚礼彩车鲜花布置篇
 
提供简约主婚车精美扎花一辆（ 车头花 + 车身花）
提供简约副婚车简约装饰六辆（手拉花 + 帖喜字）
提供简约新娘手捧花一个
提供简约新郎用花一份（胸花）
提供简约父母、伴郎伴娘用花八份（胸花）
提供简约精美花篮两个（鲜花花瓣雨）
 
★婚礼添彩篇
 
刻录婚礼当天光盘一张(含300张照片，精修30张)
 


               
            </div>
             <div class="c_return">上一页</div>
           <div class="c_return"> 下一页</div>
        </div>
         
      </div>
    </div>


<include file="Public:footer" />  
