<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{$title}</title>
    <meta name="baidu-site-verification" content="Fg9iEMthof" />
    <link rel="Shortcut Icon" href="__ROOT__/luoman.ico"> 
    <link rel="Bookmark" href="__IMAGES__/luoman.ico"> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <script type="text/javascript"> MODULE ='{$Request.module}',CONTROLLER='{$Request.controller}',ACTION ='{$Request.action}',APPPATH="__APP__"; </script>
      {js href="__JS__/jquery/jquery-1.7.1.min.js,__JS__/box.js" /}
    <script type="text/javascript" src="__JS__/fd.js"></script>
	{css  href="__CSS__/Style.css,__CSS__/index/i_banner.css,__CSS__/index/i_menu.css"  /}
   
   

		<script language="javascript">
		     function addToFavorite(){var a="www.luomanwed.com";var b="罗蔓婚庆";if(document.all){window.external.AddFavorite(a,b)}else if(window.sidebar){window.sidebar.addPanel(b,a,"")}else{alert("亲，您的浏览器不支持此操作\n请直接使用Ctrl+D收藏本站~")}}
			function flash (ur ,w ,h ){ 
                 document.write('<object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" id="obj1"                  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" border="0" width="'+w+'" height="'+h+'">');
document.write('<param name="movie" value="'+ur+'">');
document.write('<param name="quality" value="High">');
document.write('<embed src="'+ur+'" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj1" width="'+w+'" height="'+h+'">');
document.write('</object>');
}
	
   $(document).ready(function(){
       $("#wxewm").floatdiv({right:"0px",top:"135px"});
     });
        </script>
</head>
<body>
 
<div class="topbg">
	<div class="topnav">
		<div class="l">欢迎来到罗蔓婚庆！</div>
		<div class="r"><a href="/">返回首页</a> | <a onclick="addToFavorite()">收藏本站</a>|<a href="/index.php/WebAdmin" target="_blank">网站后台</a></div>
	</div>
</div>
<div class="ext">
 <div class="m-left"><img src="__IMAGES__/m-bg-l.png" width="103" height="70" /></div>
  <div class="m-right"><img src="__IMAGES__/m-bg-r.png" width="103" height="70" /></div>
  <div class="m-bottom"><img src="__IMAGES__/m-bg-b.png" width="999" height="25" /></div>
 <div class="wxewm"><img src="__UPLOAD__/wxewm-01.jpg"  width="143"/></div>
<div class="qq"><ul><li>
    <a target="_blank" href="tencent://message/?uin=103315357&Site=http://77ya.com/&Menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=1:103315357:1"></a>罗蔓客服1</li>
    <li>
<a target="_blank" href="tencent://message/?uin=104242157&Site=http://77ya.com/&Menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=1:104242157:1"></a>罗蔓客服2</li>
 <li>
<a target="_blank" href="tencent://message/?uin=447077187&Site=http://77ya.com/&Menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=1:447077187:1"></a>罗蔓客服3</li>
</ul>

</div>
<div class="main">
<div class="header">
        
		<script type="text/javascript">flash('__FLASH__/heard.swf','998','103');</script>

<!--
   <div id="logo"></div>
       <div id="m"></div>
       <div id="r"></div>    -->
       
   
</div><!--end header -->
<div id="menu2" class="menu">
       
               <ul>
         {volist name="navigation" id="vo" empty="ERROR_NODATA"}
              <li><a href="{$vo.path}" target="_self">{$vo.name}</a></li>
                  {/volist}
                         </ul>

       </div>
       <!--焦点图-->
       <div id="banner" class="banner">
                  
                    <ul class="inbox">
                    <a href="/index.php/New-showcontent-type-1-menuid-7-c_id-5/" target="_self" class="text"><h1>罗蔓8周年豪礼钜献</h1></a>
                        <div class="textbg"></div>
                        <li class="ad1"></li>
                        <li class="ad2"></li>
                        <li class="ad3"></li>
                        <li class="ad4"></li>
                        
                    </ul>
                    <ul class="inbox">
                     <a href="/index.php/Case-index-menuid-0-pic_series-39/" target="_self" class="text"><h1>2016-4-24 世纪金源大酒店</h1></a>
                        <div class="textbg"></div>
                        <li class="ad1"></li>
                        <li class="ad2"></li>
                        <li class="ad3"></li>
                        <li class="ad4"></li>
                       
                    </ul> 
                    <ul class="inbox">
                    <a href="/index.php/New-showcaptions-type-2-menuid-7/" target="_self" class="text"><h1>创意与传承</h1></a>
                        <div class="textbg"></div>
                        <li class="ad1"></li>
                        <li class="ad2"></li>
                        <li class="ad3"></li>
                        <li class="ad4"></li>
                        
                    </ul> 
                    <ul class="inbox noborder">
                     <a href="/index.php/Wall/" target="_blank" class="text"><h1>罗蔓幸福墙</h1></a>
                        <div class="textbg"></div>
                        <li class="ad1"></li>
                        <li class="ad2"></li>
                        <li class="ad3"></li>
                        <li class="ad4"></li>
                       
                    </ul>       

              
          </div>

          
                   
         
       