<div class="n_ct_left">
    {zkktag:leftmenu divid="left-menu" upid='menuid' datasource="list" empty=""/}

            <!-- 左边的最新作品浏览  -->
            <div class="n_ct_left_k2">
               <div class="n_ct_left_k2_tit"><img src="__IMAGES__/n_lm1-01.jpg" width="228" height="68" /></div>
               <div class="n_ct_left_k2_n1"><a onmouseup="ISL_StopDown_1()" onmousedown="ISL_GoDown_1()" onmouseout="ISL_StopDown_1()" href="javascript:void(0);"><img src="__IMAGES__/n_jt1-01.jpg" width="13" height="163" /></a></div>
               <div class="n_ct_left_k2_n2">
                  <div id="ISL_Cont_1" style=" overflow: hidden; width: 192px">
                    <div class="ScrCont" style="width: 32766px; zoom: 1">
                        <div id="List1_1" style="float: left">
                         
                            <!-- piclist begin -->
                            <ul>
                                    <li><img src=__UPLOAD__/20111015110422PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20111010185040PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20110911121745PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20111016195156PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20111010183707PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20020124075752PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20020124075154PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20020124075522PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20111106195155PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20110911121632PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20110911121625PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20111010185108PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20110911121701PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20110924165818PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20111030095952PicURL.jpg /></li>
                                    <li><img src=__UPLOAD__/20111010154520PicURL.jpg /></li>
                            </ul>
                            <!-- piclist end -->
                        </div>
                        <div id="List2_1" style="float: left"></div>
                    </div>
                </div>
    
        </div>
         <script type="text/javascript">picrun_ini()</script>

    <div class="n_ct_left_k2_n1">
        <a onmouseup="ISL_StopUp_1()" onmousedown="ISL_GoUp_1()" onmouseout="ISL_StopUp_1()" href="javascript:void(0);" ><img src="__IMAGES__/n_jt2-01.jpg" width="13" height="163" /></a></div>
</div>
<!-- 《大事记》  《客户服务》  《加入我们》    暂时取消
<div class="n_ct_left_k2">
    <a href="../News/BigEvent/index.htm" />
    <img src="__IMAGES__/n_img1.jpg" width="228" height="94" /></a><a href="RECRYITNEBT/index.htm" /><img
        src="__IMAGES__/n_img2.jpg" width="228" height="215" /></a></div>
        -->
<!--《 在线预定 》 暂时取消    
<div class="n_ct_left_k2">
    <div class="n_ct_left_k2_tit">
        <img src="__IMAGES__/n_lm2.jpg" width="228" height="45" /></div>
    <div class="n_ct_left_k2_n3">
        <iframe height="209px" width="228px" marginwidth="0" marginheight="0" hspace="0"
            vspace="0" frameborder="0" scrolling="no" src='__IMAGES__.aspx'></iframe>
    </div>
</div>
-->



  


      </div>